TASK 01

In [1]:

marks = [
    [33, 60, 58],  
    [96, 98, 95],  
    [42, 41, 56]   
]

for i, student_marks in enumerate(marks, start=1):
    total = sum(student_marks)
    average = total / len(student_marks)
    print(f"Student {i} - Total: {total}, Average: {average:.2f}")

Student 1 - Total: 151, Average: 50.33
Student 2 - Total: 289, Average: 96.33
Student 3 - Total: 139, Average: 46.33

TASK 02

In [2]:
students = [
    (101, "Alice", 17),
    (102, "Bob", 18),
    (103, "Charlie", 17)
]


print("Student Information:")
print("-" * 40)
print(f"{'Roll No.':<10}{'Name':<15}{'Age':<5}")
print("-" * 40)

for student in students:
    roll_no, name, age = student
    print(f"{roll_no:<10}{name:<15}{age:<5}")

Student Information:
----------------------------------------
Roll No.  Name           Age
----------------------------------------
101       Alice          17
102       Bob            18
103       Charlie        17

TASK 03

In [3]:
student_dict = {
    101: "Alice",
    102: "Bob",
    103: "Charlie"
}

def search_student_name(roll_no):
    name = student_dict.get(roll_no)
    if name:
        print(f"Roll Number: {roll_no}, Name: {name}")
    else:
        print(f"No student found with Roll Number: {roll_no}")

search_student_name(102)  
search_student_name(105)

Roll Number: 102, Name: Bob
No student found with Roll Number: 105

TASK 04

In [5]:
all_students = {"Alice", "Bob", "Charlie", "David", "Eve"}
football_players = {"Alice", "Bob", "Eve"}
cricket_players = {"Bob", "Charlie", "David"}
both = football_players & cricket_players
only_one = (football_players ^ cricket_players)
neither = all_students - (football_players | cricket_players)

print("Students who play both football and cricket:", both)
print("Students who play only one sport:", only_one)
print("Students who play neither sport:", neither)

Students who play both football and cricket: {'Bob'}
Students who play only one sport: {'Eve', 'Charlie', 'David', 'Alice'}
Students who play neither sport: set()